.nico-omniauth
  = link_to user_niconico_omniauth_authorize_path do
    .block-button
      niconicoアカウントでログイン
  %p.nico-omniauth__info
    一度ログインした後にniconicoアカウントと連携すると、
    %br
    次回以降はniconicoアカウントでログインできます。
