.nico-video-player {
  backgroundcolor: $ui-primary-color;
  margin-top :10px;

  &__header {
    padding : 0 6px 0 12px;
  }

  &__item {
    > p {
      color: lighten($ui-base-color, 100%);
      text-align: center;
      padding: 18px 10px 8px 10px;
    }

    &__iframe {
      transform: scale(0.87, 0.87);
      transform-origin: 0 0;
      margin-bottom: -27px;
      &:fullscreen {
        transform: scale(1, 1);
      }
    }

    &__controls {
      margin: 4px 10px 0 10px;
    }

    &__input {
      border-radius: 4px;
      border-width: 1px;
      padding: 2px 10px;
      height: 34px;
      width: 62%;
      line-height: 30px;
      box-sizing: border-box;

      &:invalid {
        border-color: $error-red;
        outline-color: $error-red;
      }
    }


    &__btn {
      padding     : 0 16px;
      height      : 36px;
      width       : 36%;
      line-height : 36px;
      float:right;

      i {
        padding-right: 5px;
      }
    }
  }
}
