.nico-video-player {
  backgroundcolor: $ui-primary-color;
  margin-top :10px;

  &__header {
    padding : 0 6px 0 12px;
  }

  &__item {
    > p {
      color: lighten($ui-base-color, 100%);
      text-align: center;
      padding: 18px 10px 8px 10px;
    }

    &__iframe {
      transform: scale(0.87, 0.87);
      transform-origin: 0 0;
      margin-bottom: -27px;
      &:fullscreen {
        transform: scale(1, 1);
      }
    }

    &__btn {
      padding     : 0 16px;
      height      : 36px;
      width       : 36%;
      margin      : 4px 10px 0 auto;
      line-height : 36px;
      float:right;
    }
  }
}
