.video-rankings {

  &__item {
    padding: 8px 10px 8px 0;
    height: 48px;
    width: 100%;
    display: table;
    border-bottom: 1px solid lighten($ui-base-color, 8%);
    cursor: pointer;

    &__info {
      width: 36px;
      height: 100%;
      display: table-cell;
      position: relative;
      padding-right: 4px;

      > p {
        width: 100%;
        text-align:center;
        font-size: 1rem;
        position: absolute;
        top: 50%;
        margin-top: -0.5rem;
      }
    }

    &__inner {
      display: table-cell;
      vertical-align: middle;

      > p {
        color: lighten($ui-base-color, 26%);
      }

      &__content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;

        > img {
          height: 54px;
          max-width: 80px;
        }

        > p {
          padding: 0 6px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.rankings-category__area {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  background-color: $classic-base-color;

  &__select {
    flex-basis: 100%;
    margin: 8px;
  }
}

.refresh-icon {
  display: inline-block;
  border: none;
  background: transparent;
}

.refresh-rotate-360{
  transform: rotate(360deg);
  transition-duration: 1s;
}
