/**
 * Declarations
 */
$icon-size--nico: 24px;
$icon-size--nico--large: 36px;

/**
 * Global Mixins
 */
@mixin icon--nico($size: $icon-size--nico) {
  display: block;
  width: $size;
  height: $size;
  background-image: url('../images/icon_niconico.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/**
 * Global Styles
 */
.fa-nico {
  @include icon--nico(16px);
  display: inline-block;
}

button.icon-button.active i.fa-nicoru {
  background-image: url('../images/nicoru.svg');
}

.fa-nicoru {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('../images/nicoru.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &.fa-fw {
    width: 22px;
    height: 16px;
  }

  &.active {
    background-image: url('../images/nicoru.svg');
  }

  &--column {
    @extend .fa-nicoru;
    background-image: url('../images/nicoru-column.svg');
  }

  &--status {
    @extend .fa-nicoru;
    background-image: url('../images/nicoru-status.svg');
  }

  &--detailed {
    @extend .fa-nicoru;
    background-image: url('../images/nicoru-detailed.svg');
    vertical-align: middle;
  }
}

/**
 * accountButton Component Styles
 */
.nico-account-button {
  position: absolute;
  width: $icon-size--nico;
  height: $icon-size--nico;
  top: 100%;
  left: 50%;
  transform: translate(-45px, -$icon-size--nico);
  z-index: 999;

  &--large {
    width: $icon-size--nico--large;
    height: $icon-size--nico--large;
    transform: translate(-60px, -$icon-size--nico--large);

    &__icon {
      @include icon--nico($icon-size--nico--large);
    }
  }

  &__icon {
    @include icon--nico;
  }
}

/**
 * ConnectAccount Component Styles
 */
$connect-account--margin: 10px;

.nico-connect-account {
  position: relative;
  width: 100%;
  height: $icon-size--nico;
  padding: 0 $connect-account--margin;
  margin: $connect-account--margin 0;
  box-sizing: border-box;

  a {
    cursor: pointer;
    color: #9baec8;
    text-decoration: none;
  }

  &__label {
    line-height: $icon-size--nico;
    padding-left: $icon-size--nico + 5;
    font-weight: 600;

    &::before {
      @include icon--nico;
      content: '';
      position: absolute;
      top: 0;
      left: $connect-account--margin;
      transition: opacity .18s ease-out;
    }

    &:hover::before {
      opacity: 1.0;
    }

    &--disabled::before {
      opacity: .48;
    }
  }
}

/**
 * OmniAuth Component Styles
 **/
.nico-omniauth {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #333846;

  &__info {
    text-align: center;
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }

  .block-button {
    display: block;
    width: 100%;
    border: 1px solid #2b90d9;
    border-radius: 4px;
    color: #2b90d9;
    padding: 10px;
    height: 47px;
    font-size: 18px;
    line-height: 23.5px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    margin-bottom: 10px;

    &:hover {
      border-color: #419bdd;
      color: #419bdd;
    }
  }
}
